{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>

{% if messages %}
  <div class="messages" align="center">
    {% for message in messages %}
      <div class="message {{ message.tags }}"
           style="{% if message.tags == 'success' %}color:green;
                  {% elif message.tags == 'error' %}color:red;
                  {% elif message.tags == 'warning' %}color:orange;
                  {% else %}color:blue;{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}



    <div class="profile-container">
        <div class="profile-inner">
            <img src="{% static 'tasks/logo.png' %}" alt="Taskly Logo" class="profile-pic">
            <span class="profile-text">Taskly</span>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        
        <label for="email">Enter your email</label>
        <input type="email" id="email" name="email" placeholder="Enter your registered email" required>

        <button type="submit">Send Reset Link</button>
        <p class="signup-text"><a href="{% url 'sign_in' %}">Back to Login</a></p>
    </form>

</body>
</html>
