{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Successful</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <div class="message-box">
        <h2>Password Reset Successful 🎉</h2>
        <p>Your password has been reset. You can now login with your new password.</p>
        <a href="{% url 'sign_in' %}">Go to Login</a>
    </div>
</body>
</html>
